<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alex.demo.mapper.StudentMapper">
    <select id="queryList" resultType="com.alex.demo.entity.Student">
        select a.* from student a order by a.time desc
    </select>

</mapper>